{{ partial "global-header.html" . }}

<!-- contact form start -->
{{ with .Site.Params.contact }}
<section id="contact-form">
  <div class="container">
    <div class="row">
      <form id="contact">
        <div class="col-md-6 col-sm-12">
          <div class="block">
              <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="{{ .form.name }}" required>
              </div>
              <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="{{ .form.email }}" required>
              </div>
              <div class="form-group">
                <input type="text" name="subject" class="form-control" placeholder="{{ .form.subject }}" required>
              </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="block">
            <div class="form-group-2">
              <textarea class="form-control" name="message" rows="3" placeholder="{{ .form.message }}" required></textarea>
            </div>
            <button class="btn btn-default" type="submit">{{ .form.button }}</button>
          </div>
        </div>
      </form>
    </div>
    <div id="contact-box" class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">

          <h2>{{ .box.title | markdownify }}</h2>
          <ul class="address-block">
            <li>
              <i class="fa fa-map-marker"></i>
              {{ $.Page.Site.Params.address.short}}
            </li>
            <li>
              <i class="fa fa-envelope-o"></i>
              {{ with $.Page.Site.Params.email }}<a href="mailto:{{ . }}">{{ . }}</a>{{ end }}
            </li>
            <li>
              <i class="fa fa-phone"></i>
              {{ with $.Page.Site.Params.phone }}<a href="tel:{{ . }}">{{ . }}</a>{{ end }}
            </li>
          </ul>
          <ul class="social-icons">
          {{ range .social }}  
            <li>
              <a href="{{ .url }}"><i class="fa {{ .icon }}"></i></a>
            </li>
          {{ end }}
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        {{ with .gmaps}}
        <div class="block">
          <h2>{{ .title | markdownify }}</h2>
            <div class="google-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10030.68534572537!2d13.8469698!3d51.0591562!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7e6a220197b6ab60!2sDresdner+Sprachentreff+e.+V.!5e0!3m2!1sde!2sde!4v1541163278143" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}

<script src="https://www.google.com/recaptcha/api.js?render=6LdfTpAUAAAAADrdMj2raTtUoaMKFugzHq5qt-E9"></script>

<script type="text/javascript">
window.addEventListener("load", function(){
  $("#contact").submit(function(event){
    event.preventDefault(); //prevent default action 
    var proceed = true;
    var form = this;
    
    //simple validation at client's end
    //loop through each field and we simply change border color to red for invalid fields    
    $(form).find(':required').each(function(){
      if(!$.trim($(this).val())){ //if this field is empty 
        proceed = false; //set do not proceed flag
      }
      //check invalid email
      var email_reg = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/; 
      if($(this).attr("type")=="email" && !email_reg.test($.trim($(this).val()))){
        proceed = false; //set do not proceed flag        
      }
    });  
   
    if (proceed) { //everything looks good! proceed...
      grecaptcha.ready(function() {
          grecaptcha.execute('6LdfTpAUAAAAADrdMj2raTtUoaMKFugzHq5qt-E9').then(function(token) {
            $(form).append('<input type="hidden" name="token" value="' + token + '">');
            $(form).slideUp('slow', function(){ $(form).remove(); });

            $.ajax({
              url: '/send.php',
              type: 'post',
              dataType: 'json',
              data: $(form).serialize()
            })

              .done(function(response) { 
                $.notify({ message: '{{ $.Page.Site.Params.contact.feedback }}' }, {
                  type: 'success',
                  placement: { align: "center" },
                  offset: { y: 100 }
                });
              })

              .fail(function(response) {
                $.notify({ message: '{{ $.Page.Site.Params.contact.error }}' }, {
                  type: 'danger',
                  placement: { align: "center" },
                  offset: { y: 100 }
                });
              });
            });
        });
    }
  });
});
</script>
