{{ partial "global-header.html" . }}

<!-- Portfolio Start -->
<section id="imprint">
    <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="block">
              <h3>Angaben nach §5 TMG</h3>
              <p>{{ $.Page.Site.Params.address.long | markdownify }}</p>
              <p><strong>Registergericht</strong> &middot; {{ $.Page.Site.Params.society.register_court }}<br />
              <strong>Registernummer</strong> &middot; {{ $.Page.Site.Params.society.register_number }}</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="block">
              <h3>Vorstandsvertretung</h3>
              <p>{{ $.Page.Site.Params.society.chairman | markdownify }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="block">
              <h3>Kontakt</h3>
              <p>
                {{ with $.Page.Site.Params.phone }}<strong>Telefon</strong> &middot; <a href="tel:{{ . }}">{{ . }}</a>{{ end }}<br />
                {{ with $.Page.Site.Params.email }}<strong>E-Mail</strong> &middot; <a href="mailto:{{ . }}">{{ . }}</a>{{ end }}
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="block">
              <h3>Umsatzsteuer</h3>
              <p><strong>Identifikationsnummer</strong> &middot; {{ $.Page.Site.Params.society.tax_number }}<br />
                Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
            </div>
          </div>
        </div>
        
        <hr />
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              {{ .Content }}
            </div>
          </div>
        </div>
        
        <hr />
        <div class="row">
          <div class="col-sm-6">
            <div class="block">
              <h3>Bilder und Illustrationen</h3>
              <ul>
                <li><a href="https://www.freepik.com/topntp26">topntp26</a> &middot; freepik.com</li>
                <li><a href="https://www.freepik.com/asierromero">asierromero</a> &middot; freepik.com</li>
                <li><a href="https://unsplash.com/@acalmelor">AC Almelor</a> &middot; unsplash.com</li>
                <li><a href="https://unsplash.com/@priscilladupreez">Priscilla Du Preez</a> &middot; unsplash.com</li>
                <li><a href="https://unsplash.com/@deannaritchie">Deanna Ritchie</a> &middot; unsplash.com</li>
                
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="block">
              <h3>Umsetzung der Webseite</h3>
              <p>Peter Heisig &middot; <a href="https://pehei.de">pehei.de</a>
              </p>
            </div>
          </div>
        </div>
    </div>
</section>
